<!--
  The context has a key named "names" in it
  that is a list of names.

  Now, create an ORDERED LIST of names. Instead
  of using the ul tag, use the ol tag. The rest
  should remain the same.
-->
<!doctype html>
<html lang="en">
  <head>
    <title>Problem 009</title>
  </head>
  <body>
    <main>
      <ol>
        {%for name in names|slice:":1"%}
        <li>Kim</li>
        <li>Paz</li>
        <li>Talia</li>
        <li>Anima</li>
        {%endfor%}





      </ol>
      <!-- Build the ORDERED list of names -->

    </main>
  </body>
</html>
