<!--
For this file, please open the associated problem_037.css
file.

This file contains a list of people in divs as children
of the div with the "name-grid" class.
-->
{% load static %}

<!DOCTYPE html>
<html lang="en", style="background-color: lightgray"></html>>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/problem_037.css' %}">
  <title>Problem 37</title>
</head>
<body style="background-color: lightgray">
  
  
  <main>
    <div class="name-grid", style= "display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; column-gap:18px; row-gap:18px;">
      {% for person in people %}
        <div class="name-grid-entry", style="box-shadow:10px 5px 5px;padding:12px;font-weight:bold;"></div>>
          <div class="name-grid-name">{{ person.name }}</div>
          <div class="name-grid-pronouns">{{ person.pronouns }}</div>
        </div>
      {% endfor %}
    </div>
  </main>
</body>
</html>
