{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Problem 018</title>

  <!--
    Add the link tag using the static Django tag to
    load the "css/problem_018.css" file.

    Then, add the style in the css/problem_018.css file.
  -->

</head>
<body>
  <main>
    <div class="error", style="color:white; background-color:red;font-weight:bold ";>This is an error message</div>
    <p>
      <link rel= "stylesheets" href= "% static'css/problem_018.css'%}">
     </p>
    <p>
    </p>
  </main>
</body>
</html>
